<body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>

<div id="stage">
  <h1>the audience is graphing</h1>
  <canvas id="c" width="800" height="400"></canvas>
  <div id="labels">
  </div>
  <div id="adder">
    <select id="key_select"></select>
    <button id="add_graph" type="button" onclick="add_graph()">add graph</button>
  </div>
</div>

<style>
body {
  background-color: #333;
}
#stage {
  margin: 15px 15px 15px 15px;
}
#stage h1 {
  color: lightblue;
  font-weight: normal;
}
#stage canvas {
  border: 5px solid blue;
}
#adder {
  margin: 15px 0 15px 0;
}
</style>

<script>
var added = {};

function add_graph() {
  var key = $('#key_select option:selected').val();
  if (!key || key == "") {
    alert("Please select a value to graph from the drop-down.");
    return;
  }
  if (added[key]) {
    alert("The value '" + key + "' is already graphed.");
    return;
  }
  added[key] = 1;

  var cvs = document.getElementById("c");
  cvs.style.backgroundColor = "white";
  var ctx = cvs.getContext("2d");

  ctx.lineWidth = 1;
  ctx.strokeStyle = "#ff0000";

  ctx.moveTo(20,40);
  ctx.lineTo(20,41);

  ctx.moveTo(40,40);
  ctx.lineTo(40,41);

  ctx.stroke();
}

function fill_select(path_stat) {
  var seen = {};
  var keys = [];
  for (var path in path_stat) {
    var stat = path_stat[path];
    for (var key in stat.keys) {
      var key_stat = stat.keys[key];
      if (key_stat.type == "number" && !seen[key]) {
        seen[key] = true;
        keys.push(key);
      }
    }
  }
  keys.sort();
  for (var i in keys) {
    keys[i] = '<option value="' + keys[i] + '">' + keys[i] + "</option>";
  }
  $('#key_select').html('<option value="">--select to graph--</option>' + keys.join(''));
}

fill_select(path_stat);
</script>
</body>

