<body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>

<div id="stage">
  <h1>the audience is graphing</h1>
  <canvas id="c" width="800" height="400"></canvas>
  <ul id="labels">
  </ul>
  <div id="adder">
    <select id="fname_key_select"></select>
    <button id="add_graph" type="button" onclick="add_graph()">add graph</button>
  </div>
</div>

<div id="msg"></div>

<style>
body {
  background-color: #333;
}
#stage {
  margin: 15px 15px 15px 15px;
}
#stage h1 {
  color: lightblue;
  font-weight: normal;
}
#stage canvas {
  border: 5px solid blue;
}
#labels {
  color: #aaa;
}
#adder {
  margin: 15px 0 15px 0;
}
#msg {
  position: absolute;
  top: 15px;
  right: 15px;
  color: yellow;
}
</style>

<script>
var added = {};

function add_graph() {
  var fname_key = $('#fname_key_select option:selected').val();
  if (!fname_key || fname_key == "") {
    alert("Please select a value to graph from the drop-down.");
    return;
  }
  if (added[fname_key]) {
    alert("The value '" + fname_key + "' is already graphed.");
    return;
  }
  added[fname_key] = 1;
  add_graph_fname_key(fname_key);

  $('#labels').html($('#labels').html() + '<li>' + fname_key + '</li>');

  var cvs = document.getElementById("c");
  cvs.style.backgroundColor = "white";
}

function add_graph_fname_key(fname_key) {
  var fname = fname_key.split(':')[0];
  var key   = fname_key.split(':')[1];
  for (var path in path_stat) {
    if (path.match(fname + '$')) {
      msg('loading...');
      $.getJSON(path, function(data) { add_graph_path_key(path, key, data); });
    }
  }
}

function add_graph_path_key(path, key, data) {
  msg('');

  var cvs = document.getElementById("c");
  var ctx = cvs.getContext("2d");

  var stat = path_stat[path];

  ctx.lineWidth = 1;
  ctx.strokeStyle = "#ff0000";

  ctx.moveTo(20,40);
  ctx.lineTo(20,41);

  ctx.moveTo(40,40);
  ctx.lineTo(40,41);

  ctx.stroke();
}

function fill_select(path_stat) {
  var seen = {};
  var opts = [];
  for (var path in path_stat) {
    var stat = path_stat[path];
    for (var key in stat.keys) {
      var key_stat = stat.keys[key];
      if (key_stat.type == "number" && !seen[key]) {
        seen[key] = true;
        var path_split = path.split('/');
        opts.push(path_split[path_split.length - 1] + ":" + key);
      }
    }
  }
  opts.sort();
  for (var i in opts) {
    opts[i] = '<option value="' + opts[i] + '">' + opts[i] + "</option>";
  }
  $('#fname_key_select').html('<option value="">--select to graph--</option>' + opts.join(''));
}

function msg(m) {
  $('#msg').text(m);
}

fill_select(path_stat);
</script>
</body>

